---

#
# User configurable settings
#

# The ALP version to target
#alp_version: "0.0.1"  # noqa yaml[comments]

# The ALP arch to target
#alp_arch: 'x86_64'  # noqa yaml[comments]

# Choice of 'kvm' or 'kvm_encrypted'
#alp_image_type: kvm  # noqa yaml[comments]

# Choice of 'build' or 'snapshot'
#alp_build_type: build  # noqa yaml[comments]

# Override table for known ALP builds
#alp_build_versions:  # noqa yaml[comments]
#  build:
#    prefix: "Build"
#    kvm: "24.3"
#    kvm_encrypted: "24.4"
#  snapshot:
#    prefix: "Snapshot"
#    kvm: "20221216"
#    kvm_encrypted: "20221216"

# SSH Public Keys to Register
#ssh_pub_keys:  # noqa yaml[comments]
#  files:
#    - ~/.ssh/id_ed25519.pub
#    - ~/.ssh/id_rsa.pub
#  strings:
#    - "<SSH Public Key Text>"  # noqa yaml[line-length]
