{%- set _ssh_keys = [] -%}
{%- if ssh_pub_keys is defined -%}
{%-   for _kf in ssh_pub_keys.files | default([]) -%}
{%-     set _kfc = lookup('file', _kf) -%}
{%-     set _ = _ssh_keys.append(_kfc) -%}
{%-   endfor -%}
{%-   for _kfc in ssh_pub_keys.strings | default([]) -%}
{%-     set _ = _ssh_keys.append(_kfc) -%}
{%-   endfor -%}
{%- endif -%}
{
  "ignition": {
    "version": "3.2.0"
  },
  "passwd": {
    "users": [
      {
        "name": "root",
	{# Password is '{AlpTestEnv2023}' #}
        "passwordHash": "$2a$10$8cSI2wefsk.R4ekovBNGsOsP4HksJpdr2vxYQc37.VmIotkkO0uW6",
        "sshAuthorizedKeys": {{ _ssh_keys | sort | unique | to_json }}
      },
      {
        "name": "testenv",
	{# Password is '{AlpTestEnv2023}' #}
        "passwordHash": "$2a$10$z82/skiiqLBu.eAvXEHy2.lZLGJscUkAdmE4NRUqGqHHYP0.3DJmi",
        "sshAuthorizedKeys": {{ _ssh_keys | sort | unique | to_json }}
      }
    ]
  },
  "storage": {
    "filesystems": [
      {
        "device": "/dev/disk/by-label/ROOT",
        "format": "btrfs",
        "mountOptions": [
          "subvol=/@/home"
        ],
        "path": "/home",
        "wipeFilesystem": false
      }
    ],
    "files": [
      {
        "path": "/etc/hostname",
	"mode": 420,
	"overwrite": true,
	"contents": {
	  "source": "data:text/plain;charset=utf-8;base64,{{ alp_vm.name | b64encode }}"
	}
      },
      {
        "path": "/etc/sudoers.d/{{ vm_mgmt_user | default('testenv') }}",
        "mode": 420,
        "overwrite": true,
        "contents": {
          "source": "data:text/plain;charset=utf-8;base64,{{ ((vm_mgmt_user | default('testenv')) ~ ' ALL=(ALL:ALL) NOPASSWD:ALL') | b64encode }}"
        }
      }
    ]
  }
}
